body, html {
    height: 100%;
}

.container {
    height: 100%;
    background-image: url(/images/coffee-2592467_960_720.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-nav img {
    width: 50%;
    height: 10%;
    padding-left: 30px;
}



.menu-nav{
    width: 500px;
    height: 100px;
    background-color: aliceblue;
}



